div.well {
	width: 70%;
	margin-top: 10%;
    margin-left: 10%;
}

a.icon {
	margin-left: 10px;
	font-size: 18px;
}

li.editable:hover,
a.icon:hover {
	cursor: pointer;
	color: blue;
}

a.icon.save {
    color: green;
}

a.icon.cansel {
	color: red;
}

li.editable {
	font-size: 15px;
	font-weight: bold;
}

input {
	border-radius: 5px;
}

a.close {
	margin-top: -10px;
	font-size: 20px;
}